.footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer a {
  text-decoration: none;
  color: #ebb810;
}

.footer a:hover {
  text-decoration: underline;
}
